<blockquote>
  <p>Gold Token Is An virtual currency based on the Ethereum blockchain on being faster and instant transactions.<br/>Because everyone wants a GOLD.<br/>Dont let your meme's be dreams get some Gold Token's!</p>
  <footer><a href="http://goldtoken.site/" target="_blank">http://goldtoken.site/</a></footer>
</blockquote>
